.glide {
  &__arrows {
    position: absolute;
    top: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    left: -4rem;
    right: -4rem;

    @include breakpoint-xsm {
      display: none;
    }

    @include breakpoint-l {
      left: -1.5rem;
      right: -1.5rem;
    }
  }

  &__arrow {
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__slides {
    align-items: stretch;
  }

  &__slide {
    height: auto;
  }
}
